.container {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.productList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.productItem {
    /* padding: 10px;
    margin: 5px 10px; */
    width: 70%;
    height: 180px;
    background-color: aliceblue;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;

}

.productItem:hover {
    background-color: rgb(236, 213, 213);
}

.productItemLink {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
}

.productLink {
    text-decoration: none;
    color: #0070f3;
}

.desc {
    color: gray;
    margin: 2px 0;
}

.productLink:hover {
    color: #0056b3;
}

.imageContainer {
    width: 200px;
    height: 70%;
    margin-right: 20px;
    position: relative;
}

.productData {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.credit {
    margin-top: 15px;
}

.formInput {
    outline: none;
    background-color: whitesmoke;
    color: black;
    padding: 8px;
    width: 100%;
    border: 1px solid navy;
    border-radius: 5px;
    margin: 5px 6px;
}

.formButton {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 20px 0px;
    background-color: navy;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all 0.5s ease;
    cursor: pointer;
}

.formButton:hover {
    background-color: white;
    color: navy;
    border: 1px solid navy;
}

.productX {
    padding: 8px 12px;
    border-radius: 50%;
    border: 1px solid #c1afaf;
    color: #d1c2c2;
    font-family: revert;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.productX:hover {
    color: red;
    border: 1px solid #6d5d5d;

}

.productColor {
    color: gray;
}

.productQuantity {
    display: flex;
    align-items: center;
    justify-content: space-around;
}